body{

    background-color: #fda;
    color: #000;
    font-size: 18px;
    padding: 48px;
    padding-top: 16px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff, 0px 0px 2px #fff;

    h3{

        font-size: 48px;
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: 8px;
        color: #000;
        text-align: center;

    }

    .page{

        background-color: #fafafa;
        color: #000;
        font-size: 18px;
        padding: 48px;
        line-height: 1.15;
        border-color: #ffffff #dadada #d0d0d0 #fefefe;
        border-width: 8px;
        border-style: solid;
        margin-top: 32px;

        h1{

            font-size: 18px;
            font-weight: bold;
            margin-bottom: 8px;
            margin-top: 8px;
            text-align: center;

        }

        h2{

            font-size: 18px;
            font-weight: normal;
            margin-bottom: 8px;
            margin-top: 8px;
            text-align: center;

        }

        h6{

            text-align: center;
        
        }

        p{

            font-size: 18px;
            font-weight: normal;
            margin-bottom: 8px;
            margin-top: 8px;
            padding: 8px;
            text-align: justify;
            text-indent: 72px;

        }

        a{

            font-size: 18px;
            font-weight: normal;
            color: #02f;

        }

        img{

            height: 480px;
            margin: auto;
            text-alignment: center;
            
        }

        iframe{

            height: 480px;
            margin: auto;
            text-alignment: center;
            
        }

    }
    

}





